@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
    background-color: #202020;
    color: white;
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
    color: #57e0b6;
}

hr {
    margin-top: 1em;
    margin-bottom: 3em;
}

#main-cont {
    padding-left: 7%;
    padding-right: 7%;
}

#logo {
    display: block;
    margin: auto;
    margin-top: 3em;
}

.section-title {
    text-align: center;
}

#main-selector {
    display: flex;
    align-items: center;
}

.selector-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.selector-container h2 {
    padding-right: 1em;
}

.Select {
    color: black !important;
}

.graph-container {
    display: flex;
    justify-content: center;
}

.graph-container div {
    width: 49%;
}

.graph-container div:first-child {
    margin-right: 0.5em;
}

#credits {
    text-align: center;
    margin-top: 3em;
}